*.mlx -diff -merge
*.mat -diff -merge
*.fig -diff -merge
*.p -diff -merge
*.slx -diff -merge
*.mdl -diff -merge
*.mlapp -diff -merge
*.mdlp -diff -merge
*.slxp -diff -merge
*.sldd -diff -merge
*.mexa64 -diff -merge
*.mexw64 -diff -merge
*.mexmaci64 -diff -merge
*.xlsx -diff -merge
*.docx -diff -merge
*.pdf -diff -merge
*.jpg -diff -merge
*.png -diff -merge
*.png -diff -merge
